Source: xdrzcc
Section: devel
Priority: optional
Maintainer: Ben Jarvis <bjarvismn@gmail.com>
Build-Depends: debhelper-compat (= 13),
               cmake,
               ninja-build,
               flex,
               bison
Standards-Version: 4.6.1
Homepage: https://github.com/chimera-nas/xdrzcc
Vcs-Browser: https://github.com/chimera-nas/xdrzcc
Vcs-Git: https://github.com/chimera-nas/xdrzcc.git
Rules-Requires-Root: no

Package: xdrzcc
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: XDR to C compiler with zero-copy marshalling and unmarshalling
 xdrzcc is a compiler that transforms XDR (External Data Representation)
 definitions into high-performance C code. It can marshall and unmarshall
 XDR serializations without copying opaque data within.  It is intended
 primarily to support NFS 3/4 but could be used for other purposes.